.records {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1240px;
  margin: 0 auto;
  margin-top: 100px;
  height: 283px;
}
.record {
  width: 319px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 283px;
}
.record h1 {
  color: black;
  margin: 0;
  margin-bottom: 16px;
  font-size: 64px;
}
.record p {
  margin: 0;
  font-size: 24px;
  color: #5f5f5f;
}
.record:hover {
  cursor: default;
  box-shadow: 0px 0px 15px 1px #88888819;
}
.record:hover h1 {
  color: #2e90ea;
}
.newsLetter {
  max-width: 1240px;
  margin: 0 auto;
  background-color: black;
  margin-top: 190px;
  height: 374px;
}
.newsLetterInner {
  display: flex;
  height: 100%;
  align-items: center;
  margin: 0 auto;
  width: 1030px;
  justify-content: space-between;
}

.newsLetterInner h1 {
  font-size: 64px;
  margin: 0;
  line-height: 77px;
}
@media screen and (max-width: 1440px) {
  .records {
    width: 900px;
  }
  .record {
    width: 225px;
    height: 202px;
  }
  .record h1 {
    font-size: 45px;
  }
  .record p {
    font-size: 20px;
  }
  .newsLetter {
    max-width: 100%;
    margin-top: 135px;
    height: 265px;
  }
  .newsLetterInner {
    height: 100%;
    width: 900px;
  }

  .newsLetterInner h1 {
    font-size: 45px;
    line-height: 54px;
  }
}
@media screen and (max-width: 1024px) {
  .records {
    width: 670px;
  }
  .record {
    width: 167px;
    height: 142px;
  }
  .record h1 {
    font-size: 33px;
  }
  .record p {
    font-size: 18px;
  }
  .newsLetter {
    margin-top: 101px;
    height: 198px;
  }
  .newsLetterInner {
    height: 100%;
    width: 670px;
  }

  .newsLetterInner h1 {
    font-size: 33px;
    line-height: 41px;
  }
}
@media screen and (max-width: 768px) {
  .records {
    width: 550px;
  }
  .record {
    width: 155px;
    height: 102px;
  }
  .record h1 {
    font-size: 24px;
  }
  .record p {
    font-size: 16px;
  }
  .newsLetter {
    margin-top: 75px;
    height: 148px;
  }
  .newsLetterInner {
    height: 100%;
    width: 350px;
  }

  .newsLetterInner h1 {
    font-size: 20px;
    line-height: 21px;
  }
}
@media screen and (max-width: 576px) {
  .records {
    width: 350px;
    grid-template-columns: 175px 175px;
    display: grid;
    justify-items: center;
    margin-top: 45px;
  }
  .record p {
    font-size: 14px;
  }
  .record {
    width: 175px;
    height: 102px;
  }
  .record h1 {
    font-size: 20px;
  }

  .newsLetter {
    margin-top: 45px;
    height: 90px;
  }
  .newsLetterInner {
    height: 100%;
    width: 350px;
  }

  .newsLetterInner h1 {
    font-size: 18px;
    line-height: 21px;
  }
}
